.benefits{
    padding: 70px 0 65px;
    background-color: #F6F6F6;
    &__inner{
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        width: 277px;
        &-img{
            display: block;
            margin: 0 auto;
        }
        &-title{
            margin-top: 35px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #0D0D0D;
        }
        &-text{
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #0D0D0D;
            span{
                text-transform: uppercase;
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
        &_animated{
            animation-name: heartbeat;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }

}