.consultation{
    min-height: 680px;
    padding: 100px 0 108px;
    background-image: url(../../img/bg-form.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__descr{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
}